/* Global Styles */
body {
    font-family: Arial, sans-serif;
    background: rgb(224, 222, 222);
    margin: 0;
    padding: 0;
}

/* Header */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background:  rgb(90, 110, 138);
    position: relative;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 999;
    height: 70px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.logo {
    font-size: 35px;
    font-weight: bold;
    color: white;
    white-space: nowrap;
    margin-left: 1px;
}

.logo img {
    max-height: 55px;
    width: auto;
    margin-right: 3px;
    vertical-align: middle;
    padding-bottom: 3px;
}

nav ul {
    list-style: none;
    display: flex;
    padding: 0;
    margin: 0;
}

nav ul li {
    padding: 5px 12px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    transition: color 0.3s ease-in-out;
}

nav ul li a:hover {
    color: #f3c45d;
}

nav ul li a.active {
    color: #f3c45d;
    font-weight: bold;
    border-bottom: 2px solid #f3c45d; /* Underline for active link */
}

/* Hero Section */
.hero {
    position: relative;
    padding-top: 90px; 
    width: 100%;
    height: 100vh; /* Full screen height */
    background-image: url('assets/capital_back2.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 0.85;
    filter: brightness(0.9) constrast(0.95);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    overflow: hidden;
}

/* Create a dark semi-transparent overlay */
.hero::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
   /* background: rgba(0, 0, 0, 0.4); /* Adjust opacity for softness */
    z-index: 1; /* Keep it above the image */
}


/* Adjust hero content positioning */
.hero-content {
    padding: 20px;
    border-radius: 10px;
    display: inline-block;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(2px);
    position: relative;
    z-index: 2;
    text-align: center;
    color: black;
}

/* Make the heading stand out */
.hero-content h1 {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 10px;
}

/* Paragraph styling */
.hero-content p {
    font-size: 1.4rem;
    max-width: 700px;
    padding-left: 30px;
}

/* Button styling */
.buttons {
    display: flex;
    gap: 15px;
    justify-content: center;
    margin-top: 20px;
}
.btn {
    background: rgb(90, 110, 138);
    color: white;
    padding: 12px 24px;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    border-radius: 8px;
    transition: background 0.3s ease-in-out;
}

.btn:hover {
    background: rgb(117, 143, 179);
    transform: scale(1.05);
}

/* Features */
#features {
    text-align: center;
    padding: 80px 5%;
    background: rgb(90, 110, 138)
}

.features-container h2 {
    font-size: 2rem;
    font-weight: bold;
    color: #d7d3d3;
    margin-bottom: 10px;
}

.subtext {
    font-size: 1.2rem;
    color: rgba(255, 255, 255, 0.8);
    margin-bottom: 40px;
}

.features-grid {
    display: flex;
    justify-content: center;
    align-items: stretch;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
}

.feature-card {
    background: white;
    padding: 20px;
    width: 320px;
    min-height: 420px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
    transition: transform 0.3s ease-in-out;
}

.feature-card:hover {
    transform: translateY(-5px);
}

.feature-card img {
    width: 140px;
    height: auto;
    padding-top: 50px;
    object-fit: contain;
    margin-bottom: 15px;
}

.feature-card h3 {
    font-size: 1.4rem;
    font-weight: 600;
    margin-bottom: 10px;
}

.feature-card p {
    font-size: 1rem;
    color: #555;
    line-height: 1.6;
    flex-grow: 1;
}

/* About */
#about {
    padding: 60px 0;
    background-color: rgb(238, 231, 231);
}

.about-container {
    max-width: 1200px;
    margin: auto;
    text-align: center;
}

.about-title {
    font-size: 36px;
    font-weight: bold;
    color: #333;
}

.about-boxes {
    text-align: center;
    max-width: 900px;
    margin: 0 auto;
}

.about-box {
    position: relative;
    padding: 20px;
    align-items: center;
}

.about-box h3 {
    font-size: 28px;
    font-weight: bold;
    color: #444;
}

.about-box p {
    font-size: 20px;
    color: #666;
    line-height: 1.6;
}

/* Horizontal separator */
.separator {
    height: 6px;
    background: linear-gradient(90deg, #FFD700, #ff7300);
    border-radius: 12px;
    margin: 20px 0;
}


/* Team */
#team {
    background: rgb(152, 156, 161);
    padding: 50px 0;
}

.team-container {
    max-width: 1200px;
    margin: auto;
    text-align: center;
}

.team-title {
    font-size: 37px;
    font-weight: bold;
    color: #f3c45d;
    position: relative;
    padding-bottom: 20px;
}

.team-grid {
    position: relative;
    display: flex;
    gap: 40px;
    justify-content: space-between;
    align-items: center;
    max-width: 1000px;
    margin: 0 auto;
}

.team-member {
    text-align: center;
    position: relative;
    padding: 20px;
    border-left: none;
}

.team-member img {
    width: 140px;
    height: 140px;
    border-radius: 30%;
    object-fit: cover;
    border: 4px solid #fff;
    transition: transform 0.3s ease-in-out;
    box-shadow: 0 0 10px rgba(255, 215, 0, 0.5);
    z-index: 2;
    position: relative;
}

.team-member h3 {
    margin: 10px 0 4px;
    font-size: 18px;
}

.team-member p {
    font-size: 16px;
    color: #100f0f;
    margin-top: 2px;
}

/* Vertical line between team members */
.team-member:not(:last-child) {
    border-right: 2px solid #f3c45d;
    padding-right: 60px;
}


/* Demo */
#demo {
    display: flex;
    min-height: 300px;
    padding-left: 80px;

}

.demo-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.demo-text {
    flex: 1 1 60%;
    margin-bottom: 1.5rem;
}

.demo-text h2 {
    font-size: 30px;
    font-weight: bold;
    color: rgb(90, 110, 138);
}

.demo-buttons {
    flex: 1 1 35%;
    text-align: right;
}

.demo-buttons a.text {
    color: rgb(90, 110, 138);
    text-decoration: underline;
    font-weight: semi-bold;
}
    

/* Contact */
#contact {
    background: url('assets/map-image.png') no-repeat center center/cover;
    background-color: rgb(31, 31, 31);
    background-size: cover;
    display: flex;
    min-height: 500px;
    align-items: center;
}

/* Container */
.contact-container {
    margin: auto;
    text-align: center;
    min-width: 1000px;
}

.contact-container h2 {
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 30px;
    color: white;
}

/* Form layout */
.contact-form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    margin: 0 auto;
    gap: 20px;
}

/* Left side fields */
.form-left {
    display: flex;
    flex-direction: column;
    width: 45%;
    gap: 10px;
}

.form-left input {
    width: 100%;
    padding: 20px;
    margin-bottom: 5px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    background: white;
    color: rgb(164, 158, 158);
}

/* Right side text area */
.form-right {
    width: 48%;
    display: flex;
    gap: 15px;
}

.form-right textarea {
    width: 100%;
    height: 180px;
    padding: 12px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    background: white;
    text-align: left;
    color: rgb(164, 158, 158);
}

/* Submit Button */
.btn-submit {
    display: block;
    width: 200px;
    background: rgb(90, 110, 138);
    color: rgb(250, 243, 243);
    border: none;
    padding: 15px;
    margin: 10px auto 0;
    font-size: 18px;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s ease;
}

.btn-submit:hover {
    background: rgb(117, 143, 179);
    transform: scale(1.05);
}

/* Footer */
.footer {
    background-color: rgb(224, 222, 222);
    color: #555;
    padding: 50px 20px 20px;
    font-size: 15px;
    margin-top: 10px;
    line-height: 1.6;
}

.footer-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    max-width: 1200px;
    margin: 0 auto;
}

.footer-brand {
    flex: 1 1 190px;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.footer-brand-top {
    display: flex;
    align-items: center;
    gap: 5px;
}

.footer-column {
    flex: 1 1 200px; 
}

.footer-column-group {
    gap: 20px;
    display: flex;
    flex: 1;
    justify-content: center;
}

.footer-column h4 {
    font-weight: bold;
    margin-bottom: 15px;
}

.footer-column ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.foter-column ul li {
    margin-bottom: 10px;
}

.footer-column ul li a {
    text-decoration: none;
    color: #6c757d;
    transition: color 0.2s ease-in-out;
}

.footer-column ul li a:hover {
    color: #f3c45d;
}

.footer-brand img {
    height: 35px;
    margin-bottom: 0;
}

.footer-brand h3 {
    font-size: 20px;
    margin-bottom: 0;
}

.footer-brand p {
    color: #6c757d;
    max-width: 300px;
    font-size: 14px;
}

.footer-social a {
    margin-right: 12px;
    font-size: 20px;
    color: #6c757d;
    transition: color 0.2s ease-in-out;
}

.footer-social a:hover {
    color: #000;
}

.footer-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid #dee2e6;
    padding-top: 15px;
    margin-top: 30px;
    flex-wrap: wrap;
    font-size: 14px;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

.footer-links a {
    text-decoration: none;
    color: #6c757d;
    transition: color 0.2s ease-in-out;
}

.footer-links a:hover {
    color: #f3c45d;
}
